.consultation-form-bg {
    background-color: #fff;
}

.consultation-form__horizontal-form{
    padding-bottom: 48px;

}


.consultation-form__heading{
    max-width: 711px;
}

.consultation-form__tel-text {
    font-size: 14px;
    color: rgb(40, 65, 87);
    line-height: 1.2;
    margin-left: 100px;
    margin-bottom: 70px;
      
}

.consultation-form__tel-number {
    font-weight: bold;
}

@media(max-width: 1200px) {
    .consultation-form__tel-text {
        margin-left: 70px;
    }
	
}

@media(max-width: 992px) {
    .consultation-form__horizontal-form {
        padding-bottom: 37px;
    }
	
}

@media(max-width: 767px) {
    .consultation-form__horizontal-form {
        padding-bottom: 19px;
    }
    
    .consultation-form__tel-text {
        margin-left: 17px;
    }
	
}

@media(max-width: 359px) {
	
}

