.director-section-bg {
    background-color: white;
}

.director-section {
    padding: 96px 0 102px 100px;
}

.director-section__heading {
    width: 854px;
    margin-bottom: 52px;
}

.director-section__content {
    display: flex;
}

.director-section__video-wrapper {
    position: relative;
}

.director-section__video {
    position: relative;
    z-index: 1;
    width: 470px;
    height: 300px;
    margin-right: 122px;
    border: 3px solid rgb(87, 114, 47);
    outline: none !important;
}

.director-section__video-bg-1 {
    position: absolute;
    left: -11%;
    bottom: 0;
}
.director-section__video-bg-2 {
    position: absolute;
    right: 7%;
    top: 10%;
}

.director-section__text-content {
    padding-top: 26px;
}

.director-section__name {
    font-size: 20px;
    color: rgb(40, 65, 87);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 21px;

}

.director-section__position {
    width: 190px;
    font-size: 16px;
    color: rgb(40, 65, 87);
    line-height: 1.2;
    margin-bottom: 44px;
}

.director-section__text {
    width: 254px;
    font-size: 16px;
    color: rgb(40, 65, 87);
    line-height: 1.2;
    margin-bottom: 21px;
}

.director-section__phone {
    font-size: 18px;
    color: rgb(40, 65, 87);
    line-height: 1.2;
    font-weight: 500;


}

@media(max-width: 1200px) {

    .director-section {
        padding: 57px 0 57px 100px;
    }

    .director-section__heading {
        margin-bottom: 44px;
    }

    .director-section__video {
        width: 420px;
    }
	
}

@media(max-width: 992px) {

    .director-section {
        padding: 0;
        padding-top: 35px;
        padding-bottom: 59px;
    }

    .director-section__heading{
        width: 92%;
        margin-bottom: 28px;
    }

    .director-section__content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .director-section__video{
        margin-right: 25px;
        margin-left: 25px;
    }

    .director-section__video-bg-1 {
        left: -6%;
    }

    .director-section__video-bg-2{
        right: -10%;
    }

    .director-section__text-content{
        text-align: center;
    }

    .director-section__name {
        margin-bottom: 16px;
    }

    .director-section__position{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 19px;
    }

	
}

@media(max-width: 767px) {

    .director-section {
        padding-top: 23px;
        padding-bottom: 55px;
    }

    .director-section__heading{
        width: 100%;
        margin-bottom: 14px;
    }

    .director-section__video-wrapper{
        width: 100%;
    }

    .director-section__video{
        margin:0;
        width: 100%;
    }

    .director-section__video-bg-1{
        display: none;
    }

    .director-section__video-bg-2{
        display: none;
    }

    .director-section__text-content{
        padding-top: 0;
        margin-top: 15px;
    }

    .director-section__name {
        margin-bottom: 9px;
    }

    .director-section__position {
        margin-bottom: 9px;
    }

    .director-section__text {
        margin-bottom: 16px;
    }

	
}

@media(max-width: 359px) {
	
}